<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Главная страница</title>
</head>
<body>
<div class="container">
    <div class="flex-forms">
        <div class="form" id="create">
            <a>Создать новый аккаунт</a>
            <button>Создать аккаунт</button>
            <div class="info-id"></div>
        </div>
        <div class="form" id="deposit">
            <a>Внести деньги</a>
            <input type="text" name="ID" placeholder="Введите ID пользователя">
            <input type="text" name="Amount" placeholder="Введите количество денег">
            <button>Внести деньги</button>
            <div class="info-id"></div>
        </div>
        <div class="form" id="withdraw">
            <a>Снять деньги</a>
            <input type="text" name="ID" placeholder="Введите ID пользователя">
            <input type="text" name="Amount" placeholder="Введите количество денег">
            <button>Снять деньги</button>
            <div class="info-id"></div>
        </div>
        <div class="form" id="check">
            <a>Проверка баланса</a>
            <input type="text" name="ID" placeholder="Введите ID пользователя">
            <button>Проверить баланс</button>
            <div class="info-id"></div>
        </div>
    </div>
</div>
<script src="/assets/js/script.js"></script>
</body>
</html>